Please carefully read the handout for homework 3, and enter your code below in the appropriate cells

In [70]:
# Please enter your code for part 1 here
# Import the sqlite3 library
import sqlite3
con = sqlite3.connect('imdb.db')
c = con.cursor()

newrows=[(1,1,"","Purdue","",0),(2,1,"","Purdue","",0),(3,1,"","Purdue","",0)]
# Insert a tuple
for i in range(3):
    c.execute('''INSERT INTO titles VALUES (?,?,?,?,?,?)''',newrows[i])
    c.execute('''SELECT Region FROM titles where rowid={} AND region="Purdue"'''.format(c.lastrowid))
    print(c.fetchone(),c.lastrowid)
#p=c.execute('''SELECT region FROM titles;''')
# Commit all updates
con.commit()

#x=pd.DataFrame(tit,columns=[tit.columns])

# Close the connection
con.close()

In [71]:
# Please enter your code for part 2 here
con = sqlite3.connect('imdb.db')
c = con.cursor()
c.execute('''UPDATE titles SET Language='Boiler' WHERE region="Purdue"''')
c.execute('''SELECT * FROM titles WHERE REGION="Purdue" ''')
print(c.fetchall())
con.commit()
con.close()

In [77]:
# Please enter your code for part 3 here
con = sqlite3.connect('imdb.db')
c = con.cursor()
c.execute('''DELETE titles WHERE REGION="Purdue";''')
c.execute('''SELECT * from titles WHERE REGION="Purdue";''')
print(c.fetchall())
con.commit()
con.close()

In [96]:
# Please enter your code for part 4 here
con = sqlite3.connect('imdb.db')

c = con.cursor()
cursor=c.execute('''SELECT * FROM productions''')
names = [description[0] for description in cursor.description]
print(c.fetchall())
c.execute('''SELECT P.PRIMARY_TITLE,P.GENRES,R.AVG_RATING,R.NUM_VOTES,P.TITLE_TYPE FROM PRODUCTIONS P,RATINGS R WHERE P.TITLE_TYPE="tv series AND R.AVG_RATING<=10"''') 
print(c.fetchall())
con.commit()
con.close()

In [ ]:
# Please enter your code for part 5 here

In [ ]:
# Please enter your code for part 6 here

In [ ]:
# Please enter your code for part 7 here

In [ ]:
# Please enter your code for part 8 here